# 虚拟环境
venv/
ENV/
env/

# 依赖清单（可选，但通常提交 requirements.txt）
# 不要忽略 requirements.txt！

# 其他
__pycache__/
*.pyc
.DS_Store

# pip 配置（不要提交！）
pip.ini

# 自定义的排除文件
contacts.json
copy.jpeg
hello.txt
my_note.txt
photo.jpeg
students.csv
user.json

# JSON、CSV（不要提交到 Git）
data/

# 单元测试
.coverage
